footer{
    background-color: $celeste;
    height: 60px;
    .logofooter{
        text-align: center;
        img{
            text-align: center;
            width: 40px;
            height: 40px;
            padding: 5px;
        }
    }
}
