main{
    color:$purpura;
    text-align: center;
    font-size: 1rem;
    width: 90%;
    padding: 15px;
    margin: auto;

    .section1  {
        padding: 5px;
        
        h1{
            font-family: "Forum";
            font-size: 1.8rem;
            color:$indigo;
            text-align:center;
            padding: 15px;
        }
        .ucl{
            text-align: center;
            img{
                border-radius: 20px;
                text-align: center;
                width: 300px;
                height: 350px;
                padding: 10px;
            }
        }
        p{
            font-family: "Jost";
            font-size: 1rem;
            color: $purpura;
            padding: 20px;
            text-align:justify;
        }
    }
    .section2{
        background-color: #dccfe9;
        padding: 30px;
        margin: 50px;
        p{
            text-align: justify;
        }
    }
    .section3{
        background-image: url("../assets/images/uclfondo.jpg");
        width: 90%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 15px;
        margin: 40px;
        .transbox {
            margin: 5px;
            background-color: #efd7f0;
            opacity: 0.6;
            p {
                margin: 5px;
                color: #000000;
                text-align: justify;
            } 
        }
    }
    .section4{
        background-color: #dccfe9;
        padding: 30px;
        margin: 50px;
        h1{
            font-family: "Forum";
            font-size: 1.8rem;
            color:$indigo;
            text-align:center;
            padding: 15px;
        }
        p{
            text-align: justify;
        }
        button{
            text-align: center;
            margin: 10px;
            padding: 10px;
        }
        .row{
            .card{
                .card-body{
                    card-title{
                        font-family: "Forum";
                        font-size: 1.3rem;
                        color: $indigo;
                        text-align:center;
                        padding: 15px;;
                    }
                    card-text{
                        text-align: justify;
                    }
                }
            }
        }
    }
    .section5{
        background-color:#f0ebe5;
        width: 90%;
        padding: 30px;
        margin: 50px;
        transition: all 2s;  
        &:hover{
            background-color: #a8c0f5;
        }     
        h1{
            font-family: "Forum";
            font-size: 1.8rem;
            color:$indigo;
            text-align:center;
            padding: 15px;
        }
        p{
            text-align: justify;
            padding: 15px;
        }
        .accordion accordion-flush{
            .accordion-item{
                .accordion-header{
                    font-family: "Forum";
                    font-size: 1.5rem;
                    color: $indigo;
                    text-align:center;
                    padding: 10px;
                }
                .accordion-body{
                    p{
                        font-family: "Forum";
                        font-size: 1rem;
                        color:$indigo;
                        text-align: justify;
                    }
                }
            }
            button{
                text-align: center;
                margin: 10px;
                padding: 10px;
            }
            
        }
        
     }
}