<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EMF Balancing Technique Melisa Molina Profesional acreditada, sesiones individuales, presenciales y a distancia. Conoce a Peggy Fénix Dibro, canalizadora y conferencista internacional.">
    <meta name="keywords"  content="EMF, BALANCING,ENERGIA, CAMPO ELECTROMAGNETICO, SESIONES, FASES, UCL, PEGGY, DUBRO">
    <title>EMF Balancing Technique - Conoce a Peggy Dubro</title>
    <link rel="icon" href="../assets/images/simbolo1.png" alt ="emfbalacing">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header class="navBack">
		<div class="logo">
			<img src="../assets/images/logo.jpg" alt="emfbalacing">
		</div>	
		<nav>
			<ul class="menu">
			    <li class="item"><a class="a" href="../index.html">Inicio</a></li>
			    <li class="item"><a class="a" href="../views/origen.html">Origen</a></li>
          <li class="item"><a class="a" href="../views/beneficios.html">Beneficios</a></li>
			    <li class="item"><a class="a" href="../views/sesiones.html">Sesiones</a></li>
			    <li class="item"><a class="a"href="../views/entrenamiento.html">Entrenamiento Personal</a></li>
			</ul> 
		</nav>
	</header>
    <main class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/yBXRE54pKSM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="d-block mx-auto" alt="emfbalacing"></iframe> 
              </div>
              <div class="carousel-item">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ffcrCu3-0pQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="d-block mx-auto" alt="emfbalacing"></iframe>
              </div>
              <div class="carousel-item">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DTFoCGrQxKg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="d-block mx-auto" alt="emfbalacing"></iframe> 
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <section class="section2">
            <p>La EMF Balancing Technique® es el sistema de energía diseñado para trabajar con el Universal Calibration Lattice®, un sistema en la anatomía de energía humana. La técnica es un procedimiento sistemático simple y elegante que cualquiera puede aprender, utilizando el efecto humano a humano sobre el campo electromagnético. Hay ahora 13 fases de la técnica, cada una diseñada para trabajar con y fortalecer el Universal Calibration Lattice (Entramado de Calibración Universal).</p>
            <p>Desde sus años mozos, Peggy Phoenix Dubro tuvo un deseo profundo de "recordar a Dios". De joven tuvo una serie de experiencias profundas que resultaron en la apertura espontánea de todos sus chakras. Esta apertura produjo una conciencia de amor incondicional y la comprensión de la conexión de todas las cosas en el universo. Su deseo de saber incluso más y de vivir la vida diaria en la conciencia de este estado, la llevó a un viaje de quince años que resultó en otra apertura profunda, esta vez una experiencia no imitable dando surgimiento al descubrimiento del Universal Calibration Lattice (UCL).</p>
            <p>Al principio el enfoque de Peggy estaba en su propia evolución espiritual. Trabajando directamente con la naturaleza electromagnética del UCL, se dio cuenta que existía la posibilidad de desarrollar una manera de apoyar a otros en su proceso evolutivo.</p>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
<footer>
    <div class="logofooter">
    <a href="https://www.instagram.com/melisaemolina23/" target="_blank"><img src="../assets/images/instagram.png" alt="instagram"></a>
    <a href="https://wa.link/k4jd5n" target="_blank"><img src="../assets/images/whatsapp.png" alt="whatsapp"></a>
    <a href="https://www.facebook.com/MelisaEMolina" target="_blank"><img src="../assets/images/facebook.png" alt="facebook"></a>
    </div>
</footer>
</html>