<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EMF Balancing Technique Melisa Molina Profesional acreditada, sesiones individuales, presenciales y a distancia. Experimenta la calibración de tu anatomía energética.">
    <meta name="keywords"  content="EMF, BALANCING,ENERGIA, CAMPO ELECTROMAGNETICO, SESIONES, FASES, UCL, PEGGY, DUBRO">
    <title>EMF Balancing Technique - Experimenta las sesiones</title>
    <link rel="icon" href="../assets/images/simbolo1.png" alt ="emfbalacing">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header class="navBack">
		<div class="logo">
			<img src="../assets/images/logo.jpg" alt="emfbalacing">
		</div>	
		<nav>
			<ul class="menu">
			    <li class="item"><a class="a" href="../index.html">Inicio</a></li>
			    <li class="item"><a class="a" href="../views/origen.html">Origen</a></li>
                <li class="item"><a class="a" href="../views/beneficios.html">Beneficios</a></li>
			    <li class="item"><a class="a" href="../views/sesiones.html">Sesiones</a></li>
			    <li class="item"><a class="a" href="../views/entrenamiento.html">Entrenamiento Personal</a></li>
			</ul> 
		</nav>
	</header>
    <main class="container">
        <section class="section4">
            <h1>¿Qué es una sesión de EMF Balacing Technique?</h1>
            <p>Una sesión de la EMF Balancing Technique® es una experiencia del propio campo de energía electromagnético (EMF iniciales en inglés de campo electromagnético) y los patrones dentro del mismo.</p>   
            <p>Cada sesión dura como una hora. El receptor está en una mesa de masaje mientras el profesional ejecuta una serie de movimientos de Tai chi con gracia. La mayoría de los movimientos involucran el paso de las manos del profesional a través de porciones del Universal Calibration Lattice del cliente que rodean completamente al cuerpo a una distancia de 60 cm. todo alrededor. Durante algunas partes de la sesión el profesional va a colocar suavemente sus manos en el cuerpo para facilitar el flujo de energía.</p>
            <p>El resultado es el fortalecimiento del UCL, permitiéndole sostener una carga eléctrica mayor permanentemente. Mientras el procedimiento para cada sesión es el mismo cada vez, la calibración (o fortalecimiento) es única para cada persona que recibe la sesión.</p> 
            <p><strong> La calibración está determinada por su sabiduría interna, una expresión de su configuración electromagnética personal.</strong></p>           
        </section>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mx-auto">FASE I Sabiduría y Emociones</h5>
                  <p class="card-text">Esta sesión libera estrés y establece un nuevo patrón de libertad y bienestar. Experimenta el equilibrio energético entre cabeza y corazón.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mx-auto">FASE II Auto Dirección y Auto Apoyo</h5>
                  <p class="card-text">Esta sesión libera elegantemente las restricciones de energía de lo que llamamos el pasado, y promueve consciencia de Auto dirección y Auto apoyo</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mx-auto">FASE III Irradiar Energía Central</h5>
                  <p class="card-text">La irradiación de energía central alienta un flujo incrementado de inteligencia espiritual en tu vida diaria. Experimenta nuevos entendimientos y revelaciones de la expresión única de tu alma.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mx-auto">FASE IV Manifestación Energética</h5>
                  <p class="card-text">En este equilibrio, se establece una conexión y comunicación con el Ser futuro a través del Prisma de Potencial Personal, canalizando energía de potencial futuro en la co-creación de la realidad presente.</p>
                </div>
              </div>
            </div>
          </div>
        <hr style="border:10px;"><hr style="border:2px;">
        <button type="button" class="btn btn-secondary mx-auto">Reservar fecha</button>      
</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="/app.js"></script>
</body>
<footer>
    <div class="logofooter">
    <a href="https://www.instagram.com/melisaemolina23/" target="_blank"><img src="../assets/images/instagram.png" alt="instagram"></a>
    <a href="https://wa.link/k4jd5n" target="_blank"><img src="../assets/images/whatsapp.png" alt="whatsapp"></a>
    <a href="https://www.facebook.com/MelisaEMolina" target="_blank"><img src="../assets/images/facebook.png" alt="facebook"></a>
    </div>
</footer>
</html>